/* Colors */
/* Font sizes */
.TopBar {
  display: flex;
  flex-direction: column;
  background-color: #48120e; }
  .TopBar .TopBar-header {
    display: flex;
    flex-direction: row; }

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.ProductsList {
  padding-bottom: 60px; }

#root {
  height: 100%; }

.App {
  min-height: 100%;
  position: relative; }
