@import './scss/variables';

@import './scss/TopBar';
@import './scss/Footer';
@import './scss/ProductsList';
@import './scss/SingleItemTile';

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  min-height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
