/* Colors */
/* Font sizes */
.TopBar {
  display: flex;
  flex-direction: column;
  background-color: #48120e;
  padding: 25px;
  color: #f8f3e6; }
  .TopBar .TopBar-header {
    text-align: center;
    font-size: 24px; }

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #48120e;
  color: #f8f3e6;
  height: 40vw; }

.ProductsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 45vw;
  background-color: #e7cc8f; }

.SingleItemTile {
  min-width: 300px;
  width: 90vw;
  max-width: 500px;
  background-color: #efaa52;
  margin: 4vw 0;
  padding: 3vw; }
  .SingleItemTile .SingleItemTile-name {
    color: #ab3e16; }
  .SingleItemTile .SingleItemTile-price {
    color: #f8f3e6; }

.FiltersDropdown {
  border: 1px solid #f8f3e6;
  margin-bottom: 10px; }
  .FiltersDropdown .FiltersDropdown-openButton {
    width: 100%;
    color: #f8f3e6;
    font-size: 16px; }
  .FiltersDropdown .FiltersDropdown-Popover {
    width: 100%; }

#root {
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.App {
  min-height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif; }
