/* Colors */
/* Font sizes */
.TopBar {
  display: flex;
  flex-direction: column;
  background-color: #48120e; }
  .TopBar .TopBar-header {
    display: flex;
    flex-direction: row; }

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.ProductsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #e7cc8f; }

.SingleItemTile {
  min-width: 300px;
  width: 90vw;
  max-width: 500px;
  background-color: #efaa52;
  margin: 4vw 0;
  padding: 3vw; }

#root {
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.App {
  min-height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif; }
