.ProductsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 45vw;
  background-color: $vanilla;
}

@media screen and (min-width: 700px) {
  .ProductsList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
